<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>Python</title>
    </head>
    <body>
            <h1 style="text-align:center;"> Automação Residêncial em Python </h1>
            <hr>
	        <form action="/" method="post">
                    <div class="form-group">
                        <table style="width: 20%; text-align: left; margin-left: auto; margin-right: auto;" border="0" cellpadding="4" cellspacing="0">
                            <tr>
                                <td style="text-align:center;">QUARTO 1</td>
                                <td style="text-align:center;"><button name="comando" value="QUARTO1ON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="QUARTO1OFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">QUARTO 2</td>
                                <td style="text-align:center;"><button name="comando" value="QUARTO2ON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="QUARTO2OFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                                <tr>
                                <td style="text-align:center;">CORREDOR</td>
                                <td style="text-align:center;"><button name="comando" value="CORREDORON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="CORREDOROFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                                <tr>
                                <td style="text-align:center;">COZINHA</td>
                                <td style="text-align:center;"><button name="comando" value="COZINHAON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="COZINHAOFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                            <tr>
                                <td style="text-align:center;">SALA</td>
                                <td style="text-align:center;"><button name="comando" value="SALAON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="SALAOFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                                <tr>
                                <td style="text-align:center;">QUINTAL</td>
                                <td style="text-align:center;"><button name="comando" value="QUINTALON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="QUINTALOFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                            </tr>
                                <tr>
                                <td style="text-align:center;">TODAS AS LUZES</td>
                                <td style="text-align:center;"><button name="comando" value="TODASON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="TODASOFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                            </tr>
                                <tr>
                                <td style="text-align:center;">LÂMPADA</td>
                                <td style="text-align:center;"><button name="comando" value="LAMPADAON" class="btn-secondary">LIGAR</button></td>
                                <td style="text-align:center;"><button name="comando" value="LAMPADAOFF" class="btn-secondary">DESLIGAR</button></td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                </form>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>